div {
  font-family: Times, serif;
  font-style: italic;
  font-size: 300%;
  color: #008;
  text-align: center;
}
H1 {
  color: #B94848;
  font-size: 200%;
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
}
H2 {
  color: #4884B9;
  font-size: 200%;
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
}
H3 {
  color: #8848B9;
  font-size: 200%;
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
}
H4 {
  color: #48B99B;
  font-size: 200%;
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
}
H5 {
  color: #6AE921;
  font-size: 200%;
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
}
H6 {
  color: #E2E835;
  font-size: 200%;
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
